*{
    margin: 0;
}
body{
    background-size: 82%;
    background-image: url(./starter-code/assets/technology/background-technology-desktop.jpg) ;
}

#content #banner #importante #cohete{
    margin:-412px 0px 0px 715px;
    width: 37%;
}
#content #banner #texto{
 
    margin-top: 97px;
    margin-left: 163px;
}
#content #banner #texto #titulo{
    font-size: 28px;
    margin-bottom: 150px;
    color: #FFFFFF;
    /* utilizar */
}
#content #banner #texto #titulo b{
    color: #50555E;
}
#content #banner #texto  #subtitulo{
    font-size: 20px;
    margin-bottom: -5px;
    color: #93959A;
}
#content #banner #texto #titulo2{
    font-size: 55px;
    margin-bottom: 13px;
    color: #FFFFFF;
}
 #banner #texto #descripcion{
    font-size: 20px;
    width: 35%;
    line-height: 31px;
    color: #ACB1CF;
}

#banner   #importante{
margin: 100px 20px 300px 160px;
}
#banner #texto #puntos{
    margin: -458px 200px 50px -200px;
    /* border-radius: 100%; */
    text-align: center;
    line-height: 80px;
  
    

}
#banner #texto #puntos li a{
 
    text-decoration: none;
   
 }
#banner #texto #puntos li{
    list-style: none;

    width: 80px;
    height: 80px;
    margin-top: 30px;
    border-radius: 100%;
    color: #FFFFFF;
    border: 1px solid #484C55;
    font-size: 32px;
    
    
}
#banner #texto #puntos li a{
    color: white;
    text-decoration: none;
 }

/* #banner #texto #puntos li:hover{
    background-color: #FFFFFF;
    color: black;
    border: 1px solid #484C55;
    
} */
/* #banner #texto #puntos  li:first-child{
    background-color: #FFFFFF;
    color: black;
} */
